<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">ACH</a>
        </div>
        <div class="navbar-collapse collapse" style="float:right">
            <ul class="nav navbar-nav" style="float:right">
                <!--<li>@Html.ActionLink("Maker", "", "")</li>-->
                <!--<li>@Html.ActionLink("Confirmer", "Index", "Confirmer")</li>-->
                <!--<li>@Html.ActionLink("Reviewer", "Index", "Reviewer")</li>-->
                <!--<li>@Html.ActionLink("Finisher", "Index", "Finisher")</li>-->
                <li>@Html.ActionLink("Logout", "Logout", "User")</li>
            </ul>
        </div>
    </div>
</div>